*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
home-assistant.db
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
!/.gitignore
automation.yaml
automation3.yaml
configuration.yaml.save.1
configuration.yamlold
known_devices.yamlold
plexold.confold
prove.yaml
groupolds
